portfolio.dtd

<!DOCTYPE portfolio
[
<!ELEMENT portfolio (CATALOG, PROJECT, TITLE, DELIVERY_TIME, REVISIONS, IMAGE_SOURCING, PRICE, SOURCE_FILE)>
<!ELEMENT CATALOG (#PCDATA)>
<!ELEMENT PROJECT (#PCDATA)>
<!ELEMENT TITLE (#PCDATA)>
<!ELEMENT DELIVERY_TIME (#PCDATA)>
<!ELEMENT REVISIONS (#PCDATA)>
<!ELEMENT IMAGE_SOURCING (#PCDATA)>
<!ELEMENT PRICE (#PCDATA)>
<!ELEMENT SOURCE_FILE (#PCDATA)>
]>